* {
	font-family: 'Lato', sans-serif;
}
html, body {
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
	background-image: url('movieBackground0.75.png') ;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: fixed;
}

body {
	background: rgba(0,0,0,0) !important;
}

main {
	text-align: center;
	width: 75%;
	margin: 0 auto;
	background: rgba(255,255,255,0.0);
}

h1 {
	color: #9F7251 !important;
	 -webkit-text-stroke: 1px black;
}
/*Need classes for .reserved / .selected / .available*/
.seat {
	width:15%;
	height:21%;
	display: inline-block;
	line-height: 100px;
	border: 2px solid black;
	border-radius: 5%;
	font-weight: bold;
	color: white;

}

#legend {
	display: inline-block;
}

/*#legend p{
	background: rgba(255, 255, 255, 0.1);
}*/
#seatGrid {
	width: 75%;
	height: 60%;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#availableBox {
	width: 5%;
	height: 40px;
	background-color: orange;
	display: inline-block;
}


#available {
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
}

.legendItem {
	width: 5%;
	height: 40px;
	margin: 1% 1%;
	background-color: orange;
	display: inline-block;
}

#screen {
	height: 25px;
	width:80%;
	background-color: grey;
	margin: 3% auto;
  	border-radius: 3px;
}

#instructions {
	display: inline-block;
	/*background: rgba(255, 255, 255, 0.6);*/

}

#screen p {
	font-size: 18px;
	line-height: 25px;
}
/*Form Styling*/
/*Grid styling/alignment*/
/*background image/color that works*/
/*legend alignment*/

.available {
	background-color: #545775;
}

.selected {
	background-color: #F6BD60;
}
.reserved {
	background-color: #A40E4C;
	border: none;
}
.seat.available:hover {
	background-color: rgba(84, 87, 117, 0.6);

}
.seat.selected:hover {
	background-color: rgba(246, 189, 96, 0.6);

}
.test {
	width: 100px;
	height: 500px;
	background-color: purple;
}

#modalLaunch {
	display: block;
	margin: 5px auto;
	font-family: 'Lato', sans-serif;
}

.reserved {
	background-color: red;
}

#legend p, #instructions {
	font-size: 18px;
	font-weight: bold;
}

.error {
	color: red;
	font-weight: bold;
}
header {
	background: rgba(255, 255, 255, 0.4);
	width: 60%;
	margin: 0 auto;
	border-radius: 3px;
}
#selectPls {
	display: none;
	margin: 0;
}
